html,
body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Helvetica, Arial;
    height: 100%;
}

body{
    background-color: rgb(227, 234, 237);
}

header{
	background-color: white;
}

nav.mainNav{
	margin-top: -5px;
}

.hotel_center{
	text-align: center !important;
}

.clear_fix{
	clear: both;
	height: 20px;
	width: 100%;
}

.cover {    
    overflow: hidden;
}

.cover img {
    width: 100%;
}

.menu {
	min-width: 640px;
	display: block;
	list-style: none;

	padding: 0;
	margin: 0;
	
	height: 50px;
	width: 100%;

	background-color: rgba(255, 255, 255, 0.95);

	-webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.05);
	-moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.05);
	box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.05);
}
.menu > li {
	display: inline-block;
	width: 10%;

	margin-right: 2.5%; 
	margin-left: 2.5%;

	float: left;
	position: relative;
	overflow: hidden;
    
    -webkit-transition: background-color 300ms ease-out ;
    -moz-transition: background-color 300ms ease-out ;
    -o-transition: background-color 300ms ease-out ;
    transition: background-color 300ms ease-out ;  
}

.menu > li a {
	display: block;
	line-height: 50px;
	color: rgb(0, 168, 162);
	text-decoration: none;
	text-align: center;
}

.menu > li:hover {
	background-color:rgb(0, 168, 162);
}
.menu > li:hover a {
	color: rgb(243, 240, 223);
}

#formDiv{
	width: 40%;
	float: left;
	min-width: 250px;
	height: 50px;
	line-height: 50px;
}

.intro {
    background-color: rgb(227, 234, 237);
    display: table;
    width: 100%;
    margin-bottom: 50px;
}

.content {
    width: 70%;

	min-width: 900px;
	height: 990px;

	background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;

	-webkit-box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 0.07);
	-moz-box-shadow:    0px 0px 15px 5px rgba(50, 50, 50, 0.07);
	box-shadow:         0px 0px 15px 5px rgba(50, 50, 50, 0.07);
}

.content h1{
	padding-top: 20px;
	margin: 20px;

	font-size: 22pt;
	font-weight: 400;
	color: rgb(0, 168, 162);

	border-bottom: solid 1px rgb(0, 168, 162);
}

.nota{
	padding-bottom: 20px;
	margin: 20px;

	font-size: 10pt;
	font-weight: 400;
	color: rgb(0, 168, 162);

}

.footer {
	font-size: 8pt;
    height: 50px;
    line-height: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.95);

	-webkit-box-shadow: 0px -7px 5px 0px rgba(50, 50, 50, 0.05);
	-moz-box-shadow:    0px -7px 5px 0px rgba(50, 50, 50, 0.05);
	box-shadow:         0px -7px 5px 0px rgba(50, 50, 50, 0.05);
}

.footer .text-center {
	color: rgb(0, 168, 162);

    text-align: center;
    height: 15px;
    padding-top: 10px;
    margin: 0;
}

.footer a{
	text-decoration: none;
	color: rgb(0,108,102);
}

.footer a:hover{
	color: rgb(0,138,132);	
}

.aReg{
	text-decoration: none;

	height: 30px;
	line-height: 30px;

	padding-top: 8pt;
	padding-bottom: 7pt;

	padding-left: 30px;
	padding-right: 30px;

	font-size: 10pt;
	font-weight: 600;
	cursor: pointer;

	text-transform: uppercase;

	background-color: white;

	border: solid 1px black;

	color: black;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.aReg:hover{
	color: rgb(0,168,162);
	border-color: rgb(0,168,162);
}


.column{
	width: 40%;
	margin-left: 5%;
	float: left;
}

.intro img {
    margin-top: 20px;
}